body {
  position: relative;
  margin: initial;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: clip;
}

body > div#papj-vue {
  position: absolute;
  inset: 0;
  overflow: clip;
}