:root {
  --papj-background-color: hsla( 0, 0%, 100%, 1 );
  --papj-text-color: hsla( 210, 29%, 24.3%, 1 );
}

@media (prefers-color-scheme: dark) {
  :root {
    --papj-background-color: hsla( 0, 0%, 9.4%, 1 );
    --papj-text-color: hsla( 0, 0%, 92.2%, 1 );
  }
}

body {
  margin: 0;
  background-color: var( --papj-background-color );
  color: var( --papj-text-color );
}